<div ng-app="nuevaTienda" ng-controller="nuevaTiendaCtrl">
	    <div class="col-md-8 col-md-offset-2">
			<form role="form">
				<fieldset>
					<div class="panel panel-success">
						<div class="panel-heading">
							<h2>Nueva tienda:</h2>
						</div><!--panel-heading-->
						<div class="panel-body">
							<hr class="colorgraph"></hr>
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
			                    	<input type="text" ng-model="nombre" class="form-control input-lg" placeholder="Nombre"/>
			                    </div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
			                    	<input type="text" ng-model="direccion" class="form-control input-lg" placeholder="Dirección"/>
			                    </div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
			                    	<input type="text" ng-model="ciudad" class="form-control input-lg" placeholder="Ciudad"/>
			                    </div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon"><span class="glyphicon glyphicon-globe"></span></span>
			                    	<input type="text" ng-model="codigopostal" class="form-control input-lg" placeholder="Código postal"/>
			                    </div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon"><span class="glyphicon glyphicon-globe"></span></span>
			                    	<input type="text" ng-model="telefono" class="form-control input-lg" placeholder="Teléfono"/>
			                    </div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon"><span class="glyphicon glyphicon-globe"></span></span>
			                    	<input type="email" ng-model="email" class="form-control input-lg" placeholder="Email"/>
			                    </div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon"><span class="glyphicon glyphicon-globe"></span></span>
			                    	<input type="text" ng-model="fax" class="form-control input-lg" placeholder="fax"/>
			                    </div>
							</div>
							<hr class="colorgraph"></hr>
						</div><!--panel-body-->
						<div class="panel-footer">
							<div class="row">
								<div class="col-xs-8 col-sm-8 col-md-8 col-md-offset-2">
									<a href="" ng-click="daralta()" class="btn btn-lg btn-default btn-block">Dar de alta</a>
								</div>
							</div>
						</div><!--panel-footer-->
					</div>
				</fieldset>
			</form>
		</div>
	</div>